.chat-container {
    display: flex;
    height: calc(100% - 20px - 50px - var(--default-border-width));
    margin: 10px;
    flex-direction: row;
    border: var(--default-border);
    border-radius: var(--default-border-radius);
    overflow: hidden;
}