.comments-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    padding: 10px;
}

.comments__controller {
    display: flex;
    gap: 10px;
}

.comments__input {
    flex: 1;
    outline: 0;
    border: var(--default-border);
    border-radius: 5px;
}

.comments__send-btn {
    width: 70px;
}

.comments__list {

}